{% extends 'base.html' %}

{% block title %}
Мотивация
{% endblock %}

{% block head %}
<style>
      .foto11 {
        width: 140px;
        height: 140px;
        border: 5px solid #515151;
      }
       .foto2 {
        width: 140px;
        height: 140px;
        border: 5px solid #515151;
      }
       .foto5 {
        width: 140px;
        height: 140px;
        border: 5px solid #515151;
      }
      .images11 {
        width: 500px;
        height: 500px;
        border: 5px solid #515151;
      }
       .images22 {
        width: 500px;
        height: 500px;
        border: 5px solid #515151;
      }
       .images3 {
        width: 500px;
        height: 500px;
        border: 5px solid #515151;
      }
</style>
{% endblock %}

{% block body %}
<body>

<p> </p>
<p> </p>
<p> </p>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" class="foto11">
      <img src="static/images/foto11.jpg"
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140 x 140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Работник месяца - <br> <h1>Анатолий Позитивный</h1></font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Количество новых клиентов - 10<br>
Увеличение финансовой отдачи от клиентов - 500 000 $<br>
Расширение ассортимента в торговой точке - 20% <br>
Отзывы клиентов о работе сотрудника - 5+ </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"></font></font></p>
        <p><a class="btn btn-primary" href="#job1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Узнать больше</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" class="foto2">
      <img src="static/images/foto2.jpg"
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140 x 140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Работник года - <br> <h1>Регина <br>Труп</h1></font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Количество новых клиентов - 10 000<br>
Увеличение финансовой отдачи от клиентов - 500 000 000$<br>
Расширение ассортимента в торговой точке - 70% <br>
Отзывы клиентов о работе сотрудника - 5+++ </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;">  </font><font style="vertical-align: inherit;"></font></font></p>
        <p><a class="btn btn-primary" href="#job2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Узнать больше</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" class="foto5">
      <img src="static/images/foto5.jpg"
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140 x 140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Руководитель года - <br> <h1>Иван Венедиктович <br>Мерседес</h1></font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> лидерский потенциал и профессиональные знания Ивана Венедиктовича способствовали повышению эффективности работы всего коллектива</font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"></font></font></p>
        <p><a class="btn btn-primary" href="#job3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Узнать больше</font></font></a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 id="job1" class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Анатолий Позитивный </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <br>Старший менеджер</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Здесь информация о том, как Анатолий докатился до жизни такой :) </font><font style="vertical-align: inherit;"> Справа мотивирующее фото Анатолия (желательно в процессе работы)  </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;">  </font><font style="vertical-align: inherit;"></font></font></p>
      </div>
      <div class="col-md-5" class="images11">
      <img src="static/images/foto1111.jpg">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Работник месяца</title><text  fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 id="job2" class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Регина Труп <br> </font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font></font> Менеджер по продажам </font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Здесь информация о том, как Регина докатилась до жизни такой :) </font><font style="vertical-align: inherit;"> Справа мотивирующее фото Регины (желательно в процессе работы) </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"></font></font></p>
      </div>
      <div class="col-md-5 order-md-1"class="images22">
      <img src="static/images/foto222.jpg">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Работник месяца</title><text  fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2  id="job3" class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Иван Венедиктович Мерседес </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <br>Руководитель отдела</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Здесь хвалебные оды начальнику.  </font><font style="vertical-align: inherit;">Начальник - это важный человек в жизни каждого работника, от его настроения, мыслей разнится наша работа, толщина кошелька и вообще обстановка в коллективе.  </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;"> </font></font></p>
      </div>
      <div class="col-md-5" class="images3">
      <img src="static/images/images33.jpg">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Работник месяца</title><text  fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->



{% endblock %}